{% extends 'main/base.html' %}

{% block title %}Sign up{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>

.bigger-logo {
    max-width: 400px;
}

.registration-header {
    margin-bottom: 2rem;
}

.registration-header .logo {
    margin-bottom: 1rem;
    max-width: 150px;
}

.registration-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.registration-header .lead {
    font-size: 1.25rem;
    font-weight: 300;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form p {
    margin-top: 1rem;
    text-align: center;
}
</style>

<div class="registration-header text-center mb-4">
    <img src="{% static 'images/logo.png' %}" alt="YouTrain Logo" class="bigger-logo">
{#    moze wywalic bo duyzo trescoi#}
    <h1 class="display-4">Join YouTrain!</h1>
    <p class="lead">Plan. Train. Progress.</p>
    <p>Transform your fitness journey with personalized plans and track your progress like never before!</p>
</div>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p>Have an account? Login <a href="/login">Here</a>!</p>
    <button type="submit" class="btn btn-success">Register</button>
</form>
{% endblock %}
