{% extends 'main/base.html' %}
{% load static %}

{% block title %}Add Segment to Workout{% endblock %}

{% block content %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/add_workout.css' %}">
{% endblock %}

<h1>Add Segment to Workout</h1>

<form id="workout-segment-form" method="post">
    {% csrf_token %}
    
    <div id="segment-form">
        <div class="segment-form mb-3" id="segment">
            <h3>Segment</h3>
            <div class="form-group">
                {{ segment_form.reps.label_tag }}
                {{ segment_form.reps }}
            </br>
                {{ segment_form.rest_time.label_tag }}
                {{ segment_form.rest_time }}
            </div>

            <div class="form-group">
                {{ segment_form.notes.label_tag }}
                <textarea name="{{ segment_form.notes.name }}" class="form-control" rows="4" placeholder="Notes">{{ segment_form.notes.value|default_if_none:'' }}</textarea>
            </div>

            <h3>Exercises</h3>
            <div class="exercise-formset" id="exercise-formset">
                {{ exercise_formset.management_form }}
                <table class="table" id="exercise-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Reps</th>
                            <th>Duration (h:m:s)</th>
                            <th>Rest Time (m:s)</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody id="exercise-table-body">
                        {% for exercise_form in exercise_formset.forms %}
                        <tr>
                            <td>{{ exercise_form.instance.exercise.name }}</td>
                            <td>{{ exercise_form.instance.reps }}</td>
                             <td>{% if exercise_form.instance.duration != "00:00:00" %}{{ exercise_form.instance.duration }}{% else %}{% endif %}</td>
                            <td>{{ exercise_form.instance.rest_time }}</td>
                            <td>{{ exercise_form.instance.notes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary add-exercise">Add Exercise</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
            <div id="exercise-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Select Exercises</h2>
                    <form id="exercise-search-form">
                        <input type="text" id="search-query" placeholder="Search exercises...">
                        <button type="button" id="search-button">Search</button>
                    </form>
                    <div id="exercise-list" class="exercise-list">
                        <!-- List of exercises will be loaded here -->
                    </div>
                </div>
            </div>

            <div id="exercise-details-modal" class="modal">
                <div class="modal-content">
                    <span class="close-details">&times;</span>
                    <h2 id="exercise-details-title">Exercise Details</h2>
                    <form id="exercise-details-form">
                        <input type="hidden" id="selected-exercise-id">
                        <div class="form-group">
                            <label for="reps">Reps:</label>
                            <input type="number" id="reps" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="duration">Duration (h:m:s):</label>
                            <div class="form-inline">
                                <input type="number" id="duration_0" class="form-control" placeholder="h" min="0">
                                <span>:</span>
                                <input type="number" id="duration_1" class="form-control" placeholder="m" min="0" max="59">
                                <span>:</span>
                                <input type="number" id="duration_2" class="form-control" placeholder="s" min="0" max="59">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rest_time">Rest Time (m:s):</label>
                            <div class="form-inline">
                                <input type="number" id="rest_time_0" class="form-control" placeholder="m" min="0">
                                <span>:</span>
                                <input type="number" id="rest_time_1" class="form-control" placeholder="s" min="0" max="59">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="notes">Notes:</label>
                            <textarea id="notes" class="form-control"></textarea>
                        </div>
                        <button type="button" id="back-to-exercises" class="btn btn-secondary">Back</button>
                        <button type="button" id="save-exercise-details" class="btn btn-success">Save</button>
                        <button type="button" id="save-add-next-exercise-details" class="btn btn-primary">Save and Add Next</button>
                    </form>
                </div>
            </div>

    <button type="submit" class="btn btn-success mt-4" id="save-segment">Save Segment</button>
    <button type="submit" class="btn btn-success mt-4" name="save_and_add_next" value="save_and_add_next">Save and Add Next Segment</button>

    </div>

</form>

<script src="{% static 'scripts/add_workout.js' %}"></script>

{% endblock %}
