{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ workout.title }}{% endblock %}

{% block content %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/add_workout.css' %}">
{% endblock %}

<h1>{{ workout.title }}</h1>
<p>{{ workout.description }}</p>

<div class="row">
    <div class="col-md-8">
        <h2>Bloki treningowe</h2>
        {% for segment in workout.segments.all %}
        <div class="segment-form mb-3" id="segment-{{ forloop.counter0 }}">
            <h3>Blok {{ forloop.counter }}</h3> <!-- Title with segment number -->
            <div class="form-group">
                <label>Powtórzenia:</label>
                <p>{{ segment.reps }}</p>
            </div>
            <div class="form-group">
                <label>Przerwa (m:s):</label>
                <p>{{ segment.rest_time  | default_if_none:'-'}}</p>
            </div>
            <div class="form-group">
                <label>Notatki:</label>
                <p>{{ segment.notes }}</p>
            </div>

            <h4>Ćwiczenia</h4>
            <div class="exercise-formset" id="exercise-formset-{{ forloop.counter0 }}">
                <table class="table" id="exercise-table">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Powtórzenia</th>
                            <th>Czas wykonywania (h:m:s)</th>
                            <th>Czas przerwy (m:s)</th>
                            <th>Notatki</th>
                        </tr>
                    </thead>
                    <tbody id="exercise-table-body-{{ forloop.counter0 }}">
                        {% for exercise in segment.exerciseinsegment_set.all %}
                        <tr>
                            <td>{{ exercise.exercise.name }}</td>
                            <td>{{ exercise.reps }}</td>
                            <td>{{ exercise.duration | default_if_none:''}}</td>
                            <td>{{ exercise.rest_time }}</td>
                            <td>{{ exercise.notes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          <form method="post" action="{% url 'delete_segment' segment.id %}" style="display:inline;" onsubmit="return confirmDeleteSegment('{{ segment.id }}');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Usuń blok</button>
            </form>
        </div>
        {% empty %}
        <p>Nie znaleziono bloków treningowych.</p>
        {% endfor %}
    </div>

</div>

<div class="button-inline">
    <a href="{% url 'add_segments_to_workout' workout.id %}" class="btn btn-success mt-3">Dodaj blok treningowy</a>
    <!-- Delete Workout Button -->
    <form method="post" action="{% url 'delete_workout' workout.id %}" onsubmit="return confirmDelete();">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Usuń trening</button>
    </form>
    </div>



{% endblock %}

<script src="{% static 'scripts/add_workout.js' %}"></script>
<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete the workout "{{ workout.title }}"? This action cannot be undone.');
    }
</script>
