{% extends 'main/base.html' %}

{% block title %}Lista treningów{% endblock %}

{% block content %}
<h1>Lista treningów</h1>
<ul>
    {% for workout in workouts %}
    <li>
        <h2>{{ workout.title }}</h2>
        <p>{{ workout.description }}</p>
        <a href="{% url 'workout_detail' workout.id %}">Pokaż szczegóły</a>
    </li>
    {% empty %}
    <li>No workouts found.</li>
    {% endfor %}
<a href="{% url 'add_workout' %}" class="btn btn-secondary mt-4">Dodaj nowy trening</a>
</ul>
{% endblock %}
