{% extends 'main/base.html' %}
{% block title %}Workout Session Detail{% endblock %}

{% block content %}
<h1>{{ workout.title }}</h1>
<p><strong>Opis sesji:</strong> {{ session.description }}</p>
<p><strong>Data sesji:</strong> {{ session.date }}</p>
<p><strong>Plan treningowy:</strong> {{ session.workout_plan.title }}</p>
<p><strong>Trening ukończony:</strong> {{ session.is_completed|yesno:"Tak,Nie" }}</p>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_description">Opis sesji:</label>
        {{ form.description }}
    </div>
    <div class="form-group">
        <label for="id_is_completed">Trening ukończony:</label>
        {{ form.is_completed }}
    </div>
    {% if can_edit %}
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    {% endif %}
</form>

<h2>Szczegóły Treningu</h2>
<p><strong>Opis treningu:</strong> {{ workout.description }}</p>
<p><strong>Dzień tygodnia:</strong> {{ session.date|date:"l" }}</p>


<h3>Bloki treningowe</h3>
<ul>
{{ segments }}
    {% for segment in segments %}
        {{ segment }} ?
    <li>
        <h4>Segment {{ forloop.counter }}</h4>
        <p><strong>Powtórzenia:</strong> {{ segment.reps }}</p>
        <p><strong>Czas odpoczynku:</strong> {{ segment.rest_time }}</p>
        <p><strong>Notatki:</strong> {{ segment.notes }}</p>

        <h5>Ćwiczenia</h5>
        <ul>
            {% for exercise in segment.exerciseinsegment_set.all %}
            <li>
                <p><strong>Ćwiczenie:</strong> {{ exercise.exercise.name }}</p>
                <p><strong>Powtórzenia:</strong> {{ exercise.exerciseinsegment.reps }}</p>
                <p><strong>Czas trwania:</strong> {{ exercise.exerciseinsegment.duration }}</p>
                <p><strong>Czas odpoczynku:</strong> {{ exercise.exerciseinsegment.rest_time }}</p>
                <p><strong>Notatki:</strong> {{ exercise.exerciseinsegment.notes }}</p>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

{% if session.is_completed %}
    {% if workout_stats_exists %}
        <a href="{% url 'workout_stats_detail' session.id %}" class="btn btn-info mt-3">Pokaż szczegóły odbytego treningu</a>
    {% else %}
        <a href="{% url 'create_workout_stats' session.id %}" class="btn btn-success mt-3">Dodaj szczegóły odbytego</a>
    {% endif %}
{% endif %}

<a href="{% url 'home' %}" class="btn btn-secondary mt-3">Powrót do kalendarza</a>
{% endblock %}
