{% extends 'main/base.html' %}
{% load static %}

{% block title %}Workout Session Detail{% endblock %}

{% block content %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/add_workout.css' %}">
{% endblock %}

<h1>{{ workout.title }}</h1>
<p><strong>Opis sesji:</strong> {{ session.description }}</p>
<p><strong>Data sesji:</strong> {{ session.date }}</p>
<p><strong>Trening ukończony:</strong> {{ session.is_completed|yesno:"Tak,Nie" }}</p>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_description">Opis sesji:</label>
        {{ form.description }}
    </div>
    <div class="form-group">
        <label for="id_is_completed">Trening ukończony:</label>
        {{ form.is_completed }}
    </div>
    {% if can_edit %}
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    {% endif %}
</form>

<h2>Szczegóły Treningu</h2>
<p><strong>Opis treningu:</strong> {{ workout.description }}</p>
<p><strong>Dzień tygodnia:</strong> {{ session.date|date:"l" }}</p>


<div class="row">
    <div class="col-md-8">
        <h2>Segments</h2>
        {% for segment in workout.segments.all %}
        <div class="segment-form mb-3" id="segment-{{ forloop.counter0 }}">
            <h3>Segment {{ forloop.counter }}</h3> <!-- Title with segment number -->
            <div class="form-group">
                <label>Reps:</label>
                <p>{{ segment.reps }}</p>
            </div>
            <div class="form-group">
                <label>Rest Time (m:s):</label>
                <p>{{ segment.rest_time  | default_if_none:'-'}}</p>
            </div>
            <div class="form-group">
                <label>Notes:</label>
                <p>{{ segment.notes }}</p>
            </div>

            <h4>Exercises</h4>
            <div class="exercise-formset" id="exercise-formset-{{ forloop.counter0 }}">
                <table class="table" id="exercise-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Reps</th>
                            <th>Duration (h:m:s)</th>
                            <th>Rest Time (m:s)</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody id="exercise-table-body-{{ forloop.counter0 }}">
                        {% for exercise in segment.exerciseinsegment_set.all %}
                        <tr>
                            <td>{{ exercise.exercise.name }}</td>
                            <td>{{ exercise.reps }}</td>
                            <td>{{ exercise.duration | default_if_none:''}}</td>
                            <td>{{ exercise.rest_time }}</td>
                            <td>{{ exercise.notes }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          <form method="post" action="{% url 'delete_segment' segment.id %}" style="display:inline;" onsubmit="return confirmDeleteSegment('{{ segment.id }}');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Segment</button>
            </form>
        </div>
        {% empty %}
        <p>No segments found.</p>
        {% endfor %}
    </div>

{#    <div class="col-md-4">#}
{#        <!-- Można tu dodać dodatkowe informacje, jeśli są potrzebne -->#}
{#    </div>#}
</div>

{% if session.is_completed %}
    {% if workout_stats_exists %}
        <a href="{% url 'workout_stats_detail' session.id %}" class="btn btn-info mt-3">Pokaż szczegóły odbytego treningu</a>
    {% else %}
        <a href="{% url 'create_workout_stats' session.id %}" class="btn btn-success mt-3">Dodaj szczegóły odbytego</a>
    {% endif %}
{% endif %}

<a href="{% url 'home' %}" class="btn btn-secondary mt-3">Powrót do kalendarza</a>
{% endblock %}
